<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex mt-5">
            <p class="h1 mx-auto my-auto">Повідомлення про проблему</p>
        </div>
        <div class="col-12 d-flex mt-5">
            <p class="h2 mx-auto my-auto"><%=error%></p>
        </div>
        <div class="col-12 d-flex mt-5">
            <a class="btn btn-outline-secondary mx-auto my-auto" href="/">На головну</a>s
        </div>
    </div>
</div>

<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>